
* {
    margin: 0;
    padding: 0;
}

h2 {
    color: rgb(168, 101, 168);
}
p {
    color: rgba(45, 65, 16, 0.616);
}
.open {
    display: block;
}
.modal {
    background-color: lawngreen;
    position: relative;
    max-width: 400px;
}

.modal_close {
    color: black;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;

}

.modal_message {
    color: red;
    padding: 3vmin;
    text-align: center;
}


