*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color:fuchsia;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightseagreen;
}

h2 {
    color: lightsalmon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.wrapper {
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 30px;
    background: olivedrab;
    border: 2px solid blue;

    
}

.phone {
    width: 400px;
    height: 600px;
    display:flex;
    flex-direction: column;
    background: burlywood;
    border-radius: 15px;
}

.row {
    display:flex;
    align-items: center;
    margin: 0 auto;
    flex-direction:row;
    background: rgb(40, 108, 148);
    width: 350px;
    height: 500px;
    padding: 10px 20px 10px 20px;
    border: 10px;
    
}

.box {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 10vw;
    height: 10vh;
    background: pink;
    margin: 10px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}
